.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 15px;
  background-color: rgb(251, 191, 22);
  color: rgb(28, 106, 183);
}

.footer a {
  color: rgb(28, 106, 183);
  font-size: 1.5em;
}

nav {
  background-color: rgb(251, 191, 22);
}
nav a {
  color: rgb(28, 106, 183);
}

.navbar-brand {
  font-size: 2.5em;
  font-weight: bold;
}

nav li {
  font-size: 1.2em;
}
