<h4>Edit Player</h4>

<label>New Player Name:</label>
<input [(ngModel)]="selectedPlayer.name">
<br>

<label>New Player image (enter URL here):</label>
<input [(ngModel)]="selectedPlayer.image">
<br>

<label>New Player Position:</label>
<input [(ngModel)]="selectedPlayer.position">

<label>New Player College:</label>
<input [(ngModel)]="selectedPlayer.college"><br>

<button (click)="beginUpdatingPlayer(selectedPlayer)">Update</button>
<button (click)="beginDeletingPlayer(selectedPlayer)">Delete</button>
<hr>
